<ion-app style="background: var(--color-background);">
  <ion-menu type="push" menuId="main-menu" contentId="main" #menu style="--max-width:60%;" (ionWillOpen)="willOpen()">

    <ion-content style="background: transparent;">

      <div style="margin-top: 15%;margin-left: 15%;">
        <img [src]="_storage.datos.PHOTO" style="width: 50px;max-height: 50px;border-radius: 18px;object-fit: cover;">

        <p
          style="font-size: 17px;color: var(--text-color-3);font-weight: 600; margin-bottom: 0;margin-top: 10px;line-height: 1;">
          {{_storage.datos.NAME}}</p>
        <p style="font-size: 11px;color: var(--text-color-1);font-weight: 600;margin-top: 0px;"> {{_storage.datos.EMAIL}}
        </p>
      </div>

      <ion-list style="--background: transparent;">
        <ion-menu-toggle auto-hide="false" menu="first">
          <ion-item routerLink="app/inicio" routerDirection="root" routerLinkActive="active-item" lines="none"  (click)="closeMenu()"
            style="height: 38px;">
            <ion-label
              style="font-weight: 500;color: var(--text-color-2);margin-left: 10%;font-size: 13px;transform: translateY(-4px);">
              Inicio
            </ion-label>
          </ion-item>

          <ion-item routerLink="app/perfil" routerDirection="root" routerLinkActive="active-item" lines="none"  (click)="closeMenu()"
            style="height: 38px;">
            <ion-label
              style="font-weight: 500;color: var(--text-color-2);margin-left: 10%;font-size: 13px;transform: translateY(-4px);">
              Perfil
            </ion-label>
          </ion-item>

          <ion-item routerLink="app/perfil-biocard" routerDirection="root" routerLinkActive="active-item" lines="none"  (click)="closeMenu()"
            style="height: 38px;">
            <ion-label
              style="font-weight: 500;color: var(--text-color-2);margin-left: 10%;font-size: 13px;transform: translateY(-4px);">
              Biocards
            </ion-label>
          </ion-item>

          <ion-item routerLink="app/transfer" routerDirection="root" routerLinkActive="active-item" lines="none" (click)="closeMenu()"
            style="height: 38px;">
            <ion-label
              style="font-weight: 500;color: var(--text-color-2);margin-left: 10%;font-size: 13px;transform: translateY(-4px);">
              Transferir fondos
            </ion-label>
          </ion-item>

          <ion-item lines="none" (click)="validar()" *ngIf="!validEmail"
            style="height: 38px;">
            <ion-label
              style="font-weight: 500;color: var(--text-color-2);margin-left: 10%;font-size: 13px;transform: translateY(-4px);">
              <ion-icon name="mail-unread-outline" style="color: var(--main-color);font-size: 18px;transform: translateY(4px);"></ion-icon> Validar email
            </ion-label>
          </ion-item>

          <ion-item lines="none" target="_blank" [href]="urlPolPriv"
            style="height: 38px;">
            <ion-label
              style="font-weight: 500;color: var(--text-color-2);margin-left: 10%;font-size: 13px;transform: translateY(-4px);">
              Politicas de privacidad
            </ion-label>
          </ion-item>

          <ion-item lines="none"  target="_blank" [href]="urlTerCon"
            style="height: 38px;">
            <ion-label
              style="font-weight: 500;color: var(--text-color-2);margin-left: 10%;font-size: 13px;transform: translateY(-4px);">
              Terminos y condiciones
            </ion-label>
          </ion-item>

        </ion-menu-toggle>

      </ion-list>

      <div
        style="margin-top: 15%;margin-left: 15%; background: #044483; border-radius: 15px;max-height: 600px;padding: 15px;;">

        <p style="font-size: 15px;color: #fff; margin-bottom: 0;">
          {{credifirmas}} Credifirmas <i class="fas fa-signature"></i></p>
        <p style="font-size: 10px;color: var(--text-color-1);margin-top: 3px;line-height: 1.2;margin-bottom: 3px;">Necesarias para firmar
          todo tipo de documentos
        </p>

        <ion-button style="font-size: 11px;text-transform:capitalize; --background: var(--secondary-color);height: 28px;"  target="_blank" [href]="comprar">
          Comprar <i class="fas fa-shopping-cart" style="margin-left: 5px;"></i> 
        </ion-button>
      </div>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
