<ion-content>
  <ion-slides #slidesPadre pager="false" [options]="slideOptsOnboarding" style="height: 100%;">


    <!-- TRANSFERENCIAS -->
    <ion-slide class="ion-no-padding" style="overflow-y: scroll;display: block;height: 100%;">
      <div style="width: 100%;text-align: left;">
        <div style="--color: var(--main-color);margin-bottom: 0;">
          <!-- HEADER -->
          <ion-icon slot="start" name="arrow-back" class="icon-nav-arrow "
            style="color: var(--main-color); position: absolute;z-index: 10; padding: 20px;padding-top: 15px;"
            (click)="goInicio()">
          </ion-icon>
          <ion-item style="--background: transparent;margin-bottom: 0;" lines="none">
            <ion-title class="title" style="color: var(--main-color);">Transferencias</ion-title>
          </ion-item>
        </div>

        <!-- CARD -->
        <div
          style="height: 180px;width: 100%;background: var(--main-color);border-radius: 35px 0 35px 0 ;overflow:hidden;position: relative;box-shadow:  0 2px 15px rgba(0, 0, 0, 0.4);">

          <div style="width: 650px;
          height: 380px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: #2c73bb;
          margin-top: -170px;
          margin-left: -380px;"></div>

          <div style="    width: 180px;
          height: 180px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: #6f88a1;
          margin-top: -110px;
          margin-left: -70px"></div>

          <!-- CONTENIDO -->
          <div style="position: absolute;top:0;width: 100%;">
            <div class="row">
              <div class="col-8">
                <img src="../../../assets/images/logoSello.png"
                  style="width: 85px;height: auto;margin: auto;margin-top: 25px;">
                <p style="margin-left: 10%;color: rgba(255, 255, 255, 0.452);margin-top: 10px;font-size: 12px;">Hola
                  {{_storage.datos.NAME}}</p>

                <p
                  style="margin-left: 10%;color: rgb(255, 255, 255);margin-top: 10px;font-size: 20px;margin-bottom: 0;">
                  {{credifirmas}} Credifirmas <i class="fas fa-signature"></i></p>
                <p style="margin-left: 10%;color: rgba(255, 255, 255, 0.753);margin-top: 0px;font-size: 13px;">Balance
                  actual
                  de credifirmas</p>
              </div>
              <div class="col-4">
                <div style="margin-top: 30px;text-align: center;">
                  <img [src]="_storage.datos.PHOTO"
                    style="width: 45px;max-height: 45px;border-radius: 14px;object-fit: cover;margin: auto;">
                  <p style="color: rgba(255, 255, 255, 0.753);margin-top: 8px;font-size: 9px;">Transferencias <br> con
                    email
                    de<br> AppCuerdo</p>
                </div>

              </div>
            </div>
          </div>


        </div>

        <!-- OPCIONES -->
        <div style="padding: 20px 15px">

          <div
            style="height: 90px;width: 85px; background: var(--main-color);border-radius: 15px;padding: 18px 13px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);display: inline-block;"
            (click)="nextSlidePadre()">

            <ion-icon name="share-outline" style="color: white;font-size: 20px;"></ion-icon>
            <p style="font-size: 9px;color: rgba(255, 255, 255, 0.753);">Enviar credifirmas</p>
          </div>

          <div (click)="recibir()"
            style="margin-left:15px;height: 90px;width: 85px; background: white;border-radius: 15px;padding: 18px 13px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);display: inline-block;">

            <ion-icon name="download-outline" style="color: var(--main-color);font-size: 20px;"></ion-icon>
            <p style="font-size: 9px;color: var(--main-color);">Recibir credifirmas</p>
          </div>

          <a  target="_blank" [href]="comprar">
            <div 
            style="margin-left:15px;height: 90px;width: 85px; background: white;border-radius: 15px;padding: 18px 13px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);display: inline-block;">
        
            <ion-icon name="cart-outline" style="color: var(--main-color);font-size: 20px;"></ion-icon>
            <p style="font-size: 9px;color: var(--main-color);">Comprar credifirmas</p>
          </div>
          </a>
        

        </div>


        <p style="margin-left:25px;font-size: 14px;color: var(--text-color-2)">Actividad</p>


        <ion-card button="true" *ngIf="transferencias.length==0"
        style="--background: white;border-radius: 20px;margin-bottom: 10px ;padding: 25px 10px;box-shadow: var(--shadow-black-100);">
        <p style="font-weight: 500;font-size: 15px;margin: 7px 10%;margin-bottom: 0;">
          Aún no tiene transacsiones</p>
      </ion-card>

        <ion-card button="true" *ngFor="let item of transferencias"
          style="--background: white;border-radius: 20px;margin-bottom: 10px ;padding: 25px 10px;box-shadow: var(--shadow-black-100);">
          <div style="box-sizing: border-box;">

            <div style=" width: 15%;float: left;text-align: center;">
              <ion-icon [name]="item.from == 'RECIBIR'?'download-outline':'share-outline'"
                style="color: var(--main-color);font-size: 25px;transform: translateY(8px)">
              </ion-icon>
            </div>
            <div style=" width: 85%;float: left;">

              <div style="box-sizing: border-box;">
                <div style=" width: 60%;float: left;padding-left: 10px;">
                  <p style="font-weight: 600;font-size: 15px;margin: 7px auto;margin-bottom: 0;">
                    {{item.from == 'RECIBIR'?'Recibido':'Enviado'}}</p>

                  <p style="font-size: 11px; color: #a1a1a1; font-weight: 600;margin: 0;">
                    {{item.from == 'RECIBIR'?'De DID':'Hacia email'}}: {{item.did}}</p>

                </div>
                <div style=" width: 40%;float: left;margin-top: 1%;">
                  <p style="font-size: 9px;text-align: center;margin: 0;">{{item.timestamp | date:'MM/dd/yy, h:mm a'}}
                  </p>

                  <p style="text-align: center; margin: 10px 7px;font-size: 16px;font-weight: 600">
                    {{item.value }} <span style="font-size: 13px; color: var(--main-color);"><i
                        class="fas fa-signature"></i></span>
                  </p>

                </div>
              </div>

            </div>

          </div>
        </ion-card>


    <!--     <ion-card button="true"
          style="--background: white;border-radius: 20px;margin-bottom: 10px ;padding: 25px 10px;box-shadow: var(--shadow-black-100);">
          <div style="box-sizing: border-box;">

            <div style=" width: 15%;float: left;text-align: center;">
              <ion-icon name="download-outline"
                style="color: var(--main-color);font-size: 25px;transform: translateY(8px)">
              </ion-icon>
            </div>
            <div style=" width: 75%;float: left;">

              <div style="box-sizing: border-box;">
                <div style=" width: 60%;float: left;padding-left: 10px;">
                  <p style="font-weight: 600;font-size: 15px;margin: 7px auto;margin-bottom: 0;">
                    Envio</p>

                  <p style="font-size: 11px; color: #a1a1a1; font-weight: 600;margin: 0;">
                    De: luiggivargas@gmail.com</p>

                </div>
                <div style=" width: 40%;float: left;margin-top: 1%;">
                  <p style="font-size: 9px;text-align: center;margin: 0;">{{2655*1000   | date:'MM/dd/yy, h:mm a'}}
                  </p>

                  <p style="text-align: center; margin: 10px 7px;font-size: 16px;font-weight: 600">
                    {{50 }} <span style="font-size: 13px; color: var(--main-color);"><i
                        class="fas fa-signature"></i></span>
                  </p>

                </div>
              </div>

            </div>

          </div>
        </ion-card>


        <ion-card button="true"
          style="--background: white;border-radius: 20px;margin-bottom: 10px ;padding: 25px 10px;box-shadow: var(--shadow-black-100);">
          <div style="box-sizing: border-box;">

            <div style=" width: 15%;float: left;text-align: center;">
              <ion-icon name="download-outline"
                style="color: var(--main-color);font-size: 25px;transform: translateY(8px)">
              </ion-icon>
            </div>
            <div style=" width: 75%;float: left;">

              <div style="box-sizing: border-box;">
                <div style=" width: 60%;float: left;padding-left: 10px;">
                  <p style="font-weight: 600;font-size: 15px;margin: 7px auto;margin-bottom: 0;">
                    Envio</p>

                  <p style="font-size: 11px; color: #a1a1a1; font-weight: 600;margin: 0;">
                    De: luiggivargas@gmail.com</p>

                </div>
                <div style=" width: 40%;float: left;margin-top: 1%;">
                  <p style="font-size: 9px;text-align: center;margin: 0;">{{2655*1000   | date:'MM/dd/yy, h:mm a'}}
                  </p>

                  <p style="text-align: center; margin: 10px 7px;font-size: 16px;font-weight: 600">
                    {{50 }} <span style="font-size: 13px; color: var(--main-color);"><i
                        class="fas fa-signature"></i></span>
                  </p>

                </div>
              </div>

            </div>

          </div>
        </ion-card> -->

      </div>

    </ion-slide>

    <!-- Enviar -->
    <ion-slide class="ion-no-padding">

      <div style="width: 100%;height: 100%;text-align: left;background: white;">
        <div style="--color: var(--main-color);margin-bottom: 0;">
          <!-- HEADER -->
          <ion-icon slot="start" name="arrow-back" class="icon-nav-arrow "
            style="color: var(--main-color); position: absolute;z-index: 10; padding: 20px;padding-top: 15px;"
            (click)="backSlidePadre()">
          </ion-icon>
          <ion-item style="--background: transparent;margin-bottom: 0;" lines="none">
            <ion-title class="title" style="color: var(--main-color);">Enviar credifirmas</ion-title>
          </ion-item>
        </div>




        <!-- Campo Email a transferir -->
        <div class="row" style="margin-top: 10px;text-align: -webkit-right;">
          <div class="col-3 mr-0 pr-0">
            <div style="position: relative;
              margin-top: 10px;
              width: 55px;
              height: 55px;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              background: rgb(240, 240, 240);">
              <p style="text-align: center;transform: translateY(12px);font-size: 20px;">
                {{(email.length==0)? 'Us':(email | slice:0:2)}}</p>
            </div>

          </div>

          <div class="col-9 ml-0 pl-0">
            <!--   <p>Hacia</p> -->
            <ion-item lines="none">
              <ion-label position="floating" style="color: var(--text-color-1);">A</ion-label>
              <ion-input style="font-size: 14px;color: var(--text-color-3);" type="email" id="emailF" #emailF="ngModel"
                placeholder="Ingrese email" [(ngModel)]="email" required pattern="^[^@]+@[^@]+\.[^@]+$">
              </ion-input>
              <span style="font-size: 10px; color: var(--text-color-1);"> Ingrese email de usuario a quien enviara las
                credifirmas
              </span>
              <div class="md-errors-spacer" [hidden]="emailF.valid || emailF.untouched">
                <div *ngIf="emailF.errors && emailF.errors.required">
                  <span style="font-size: 12px; color: #eb445a;">
                    <ion-icon name="alert-circle-outline"></ion-icon> Campo es requerido
                  </span>
                </div>
                <div *ngIf="emailF.errors && emailF.errors.pattern">
                  <span style="font-size: 12px; color: #eb445a;">
                    <ion-icon name="alert-circle-outline"></ion-icon> Campo es invalido
                  </span>
                </div>
              </div>
            </ion-item>
          </div>


        </div>

        <!-- Monto a transferir -->

        <div style="margin-top: 20px;border-radius: 10px;margin: 20px;text-align: center;">

          <div style="text-align: right;display: inline-block;">
            <span style="font-size: 35px;color: var(--main-color);"><i class="fas fa-signature"></i></span>
          </div>
          <div class="ml-0 pl-0" style=" display: inline-block;width: 25%;">
            <ion-input style="font-size: 40px;color: var(--main-color);text-align: left;" placeholder="0.0" id="credF"
              type="number" #credF="ngModel" [(ngModel)]="cred" required></ion-input>

          </div>
          <p style="text-align: center;color: var(--main-color);font-size: 13px;margin-bottom: 0;margin-top: 0;">
            Credifirmas a enviar</p>

          <div class="md-errors-spacer" [hidden]="credF.valid || credF.untouched ">
            <div *ngIf="credF.errors && credF.errors.required" style="text-align: center;">
              <span style="font-size: 12px; color: #eb445a;">
                <ion-icon name="alert-circle-outline"></ion-icon> Campo es requerido
              </span>
            </div>
          </div>
        </div>

        <div style="text-align: center;margin-top: 10%;">
          <ion-button expand="block" (click)="validar()" class="button-01" [disabled]="campoInvalidos()">
            <ion-icon name="share-outline" style="font-size: 17px;margin-right: 5px;transform: translateY(-1px);">
            </ion-icon>
            Enviar
          </ion-button>
        </div>


      </div>

    </ion-slide>


  </ion-slides>


</ion-content>
